# API URL
NEXT_PUBLIC_API_URL="https://artha.sayyidrafee.com/api"

# Better Auth
NEXT_PUBLIC_BETTER_AUTH_URL="https://artha.sayyidrafee.com/api"

# Owner email (for client-side verification)
NEXT_PUBLIC_OWNER_EMAIL="owner@sayyidrafee.com"
